<% layout('layouts/boilerplate')%>
<h2>Add Bouldering Spot</h2>
<form action="/boulder-spots" method="post">
  <div>
    <label for="title">Title</label>
    <input type="text" name="boulderSpot[title]" id="title" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" name="boulderSpot[location]" id="location" />
  </div>
  <button>Add spot</button>
  <a href="/boulder-spots">All bouldering spots</a>
</form>
<% layout('layouts/boilerplate')%>
