<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">Add Bouldering Spot</h1>
  <div class="col-6 offset-3">
    <form action="/boulder-spots" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" id="title" name="boulderSpot[title]" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="boulderSpot[location]" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image Url</label>
        <input class="form-control" type="text" id="image" name="boulderSpot[image]" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="boulderSpot[description]"
        ></textarea>
      </div>
      <div class="mb-3">
        <button class="btn btn-success">Add Spot</button>
      </div>
    </form>
    <a href="/boulder-spots">All bouldering spots</a>
  </div>
</div>
