<% layout('layouts/boilerplate')%>
<h2>All Bouldering Spots</h2>
<div>
  <a href="/boulder-spots/new">Add bouldering location</a>
</div>
<ul>
  <% for (spot of spots) { %>
  <li><a href="/boulder-spots/<%= spot._id %>"><%= spot.title %></a></li>
  <% }%>
</ul>
